{% extends 'framework.html' %}
<!DOCTYPE html>
<html>
<head>
	<title>Six Points - Details</title>
</head>
{% block content %}

<!-- Banner -->
<section id="banner">
	<div class="inner">
		<header>
			<h2>Details</h2>
		</header>
		<p>Here's the <strong>plan</strong>
			<br />for what's coming
		</p>
		<footer>
			<ul class="buttons vertical">
				<li><a href="#main" class="button fit scrolly">Go on...</a></li>
			</ul>
		</footer>

	</div>

</section>
<article id="main">
	<section class="wrapper style3 container special">
		<h2>Random Shit</h2>
		<p></p>
	</section>




{% endblock %}
</html>
